@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/YekanBakhFaNum-Thin.woff') format('woff'),   
	url('../fonts/YekanBakhFaNum-Thin.woff2') format('woff2');		
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/YekanBakhFaNum-Light.woff') format('woff'),   
	url('../fonts/YekanBakhFaNum-Light.woff2') format('woff2');	
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/YekanBakhFaNum-Regular.woff') format('woff'),   
	url('../fonts/YekanBakhFaNum-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/YekanBakhFaNum-SemiBold.woff') format('woff'),   
	url('../fonts/YekanBakhFaNum-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/YekanBakhFaNum-Bold.woff') format('woff'),   
	url('../fonts/YekanBakhFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/YekanBakhFaNum-ExtraBold.woff') format('woff'),   
	url('../fonts/YekanBakhFaNum-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/YekanBakhFaNum-ExtraBlack.woff') format('woff'),   
	url('../fonts/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');		 
}

@page {
    size: 8.5in 11in;
    margin: 0;
}
@media print {
    header, footer, #non-printable { display: none !important; }
    @page {
      size: 8.5in 11in;
      margin: 7mm 14mm;
    }
    body {
      /* background: #ffffff; */
      -webkit-print-color-adjust:exact !important;
      print-color-adjust:exact !important;
    }
    #print {
      display: none;
    }
    #main {
        margin-top: 30px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}